fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
asyncmy==0.2.10
alembic==1.16.5
pydantic-settings==2.10.1
python-multipart==0.0.20
openpyxl==3.1.5
pyproj==3.7.2
pyshp==2.3.1
Pillow==11.3.0
pytest==8.4.1
pytest-asyncio==1.1.0
httpx==0.28.1
